/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~antd/dist/antd.css';

.logo {
  width: 174px;
  margin-top: 13px;
  float: left;
}

.site-layout-background {
  background: #fff;
}

.form-item:hover {
  background-color: #e6f7ff;
  border-left: 3px solid #1890ff;
}
